{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div class="container">
    <br>
<div class="row">
    <div class="col-md-3">
        <div class="card card-body h-100 border-info">
            <img class="dp" src ="{% static 'images/pic1.jpg' %}">
            <hr>
            <h4>Hi I'm clara</h4>
            <p>Im Fashion Designer</p>
        </div>
    </div>
     <div class="col-md-9">
        <div class="card card-body h-100 border-info">
            <b>Fashion Designer</b>
            <hr>
            <p>Innovative fashion designer proficient in Adobe Photoshop and Illustrator with a passion
                for creating new fashions. Proven history of successful collaboration with clients,
                brand managers and executives to deliver seasonal lines and specialized projects.
                Excellent ability to identify target markets and deliver on emerging trends.</p>


            <p>List it in reverse-chronological order and add the company names, locations and dates of
                employment. For every job, include a bulleted list of three
                supporting and assisting an awarded designer and amount of developed new</p>
        <ul class="social_link">
            <li><img class="social " src="{% static 'images/fb.png' %} "></li>
            <li><img class="social " src="{% static 'images/is.png' %} "></li>
            <li><img class="social " src="{% static 'images/yb.png' %} "></li>
        </ul>
        </div>
    </div>
</div>
    <br>
 <div class="row">
    <div class="col-md-6">
        <div class="card card-body h-100">
            <h4>Professional Experience</h4>
            <hr>
            <b>Assistant Fashion Designer, For Women Clothing Inc., Atlanta, GA</b>
            <p>Coordinate with the lead fashion designer and creative teams to develop and produce new fashion products across women’s clothing and apparel product lines
            </p>
        </div>
    </div>
     <div class="col-md-6">
        <div class="card card-body h-100">
            <h4>Qualifications:</h4>
            <hr>
            <ul>
                <li>Bachelor’s degree in fashion design required</li>
                <li>4-5 years of experience as a fashion designer</li>
                <li>Proficient in Adobe Illustrator and Microsoft Excel</li>
                <li>Strong communication and cross-functional collaboration skills</li></ul>
        </div>
    </div>
</div>
    <br>
<div class="row">
    <div class="col-md-9">
        <div class="card card-body h-100">
            <h4>SUMMARY</h4>
            <hr>
            <p>Seasoned Fashion Designer with over 12 years of experience in women’s high-end clothing.
                Launched product lines for Gucci and Chanel.
                Designs featured in Vogue and Elle.  as guest for over 50 seminars and business </p>

        </div>
    </div>
     <div class="col-md-3">
        <div class="card card-body h-100">
            <b>skills</b>
            <hr>
            <p>Getting that dream job can seem like an impossible task. We’re here to change that.
                Give yourself a real advantage with the best online resume maker: created by experts, improved by data,
                trusted by millions of professional</p>

        </div>
    </div>
</div>
</div>
</body>
</html>